@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;

  /* Fonts */



    /* --font-poppins: "Poppins", sans-serif;
    --font-orbitron: "Orbitron", sans-serif;
    --font-playfair: "Playfair Display", serif;
    --font-kaushan: "Kaushan Script", cursive;
    --font-russo: "Russo One", sans-serif; */

    .font-roboto {
        font-family: 'Roboto', sans-serif;
      }

      h1 {
        font-family: var(--font-kaushan);
      }
      h3 {
        font-family: var(--font-orbitron);
      }
}
